.auth-block {
  background-color: blue !important;
}



.MuiFormLabel-root.Mui-focused {
  color: black !important;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: black !important;
}



.register-form-link:hover{
  color: black !important;
}


